<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hp.gas">
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".login" android:label="@string/app_name"
           >
            <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter></activity>

        <activity android:name=".MainActivity" android:theme="@style/AppTheme.NoActionBar"

            android:label="@string/app_name"
            ></activity>
        <activity android:name=".SecondActivity"></activity>
        <activity android:name=".ThirdActivity"></activity>
        <activity android:name=".orderlist"></activity>
        <activity android:name=".orderst"></activity>
        <activity android:name=".qr"></activity>
        <activity android:name=".camera"></activity>


    </application>

</manifest>